<h3>comments</h3>


<form action="/posts/{{post.id}}/comment" method="post">
    <label>
        <input name="author" type="text">
    </label>
    <label>
        <input name="text" type="text">
    </label>
    <input type="submit">
</form>

{{#each post.comments}}
    {{author}}<br/>
    {{content}}<br/>
    {{creation_time}}<br/>
{{/each}}
