<div style="padding-top: 10px;">
    <h3>comments</h3>

    <form action="/posts/{{post.id}}/comment" method="post" style="
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        ">
        <label style="padding-bottom: 10px">
            your name:<br/>
            <input id="author_comment" name="author" type="text" placeholder="Your name...">
        </label>
        <label style="padding-bottom: 10px">
            comment:<br/>
            <textarea id="text_comment" name="text" placeholder="Your comment... 600 char max..."
                      style="width: 90%;
                      white-space: pre-wrap;"
            ></textarea>
        </label>
        <button id="submit_comment" style="width:fit-content" disabled>
            submit
        </button>
    </form>
    <script>
        document.getElementById("author_comment").addEventListener("keyup", updateSubmitButton);
        document.getElementById("text_comment").addEventListener("keyup", updateSubmitButton);

        function updateSubmitButton() {
            const authorField = document.getElementById('author_comment');
            const textField = document.getElementById('text_comment');
            const name = authorField.value;
            const text = textField.value;

            const submitButton = document.getElementById('submit_comment');
            submitButton.disabled = name === '' || text === '' || name.length < 2 || text.length < 3;
        }
    </script>

    {{#each post.comments}}
        <div style="border-bottom: 1px solid slategrey; padding-top: 15px;">
            author: <i>{{author}}</i><br/>
            <span style="font-size:16px">date: {{creation_time}}</span>
            <p style="white-space: pre-line">{{content}}</p>
        </div>
    {{/each}}
</div>