{{~> layouts/main~}}
<div>
    <p>my name is Misha, you might know me by Mishanya. I'm a software developer and a indie-game dev in my free time.</p>
    <p>In this blog I will post mainly technical stuff about software development and game dev</p>
    <p>Hopefully you will find something interesting here, you can find my contact info in the <a href="/contact">contact page</a> </p>
</div>