{{~> layouts/main~}}
<div>
    Feel free to contact me via:
    <ul>
        <li><i>mikhail.albershtein@gmail.com</i></li>
        <li><i><a href="https://linkedin.com/in/mikhail-albershtein">linkedin</a></i></li>
        <li><i><a href="https://github.com/mikhomak">github</a></i></li>
    </ul>
</div>